<!-- source: https://stackblitz.com/edit/ag-grid-angular-popup-blog-pbj9ht?file=src%2Fapp%2Fapp.component.ts -->
<div>
    <button #trigger class="btn btn-primary" data-action="toggle">Follow</button>
  
    <div #content *ngIf="isOpen" class="menu-container">
       
        <div class="table-beautify">
            <table>
                <tr style="border-bottom:1px solid rgb(86, 85, 85)">
                    <td>Feedback Id:</td>
                    <td>{{DataToRender.FeedbackId}}</td>
                </tr><br/>
                <tr>
                    <td>Assignee:</td>
                    <td><input type="text" name="" id=""></td>
                </tr><br/>
                <tr>
                    <td>Status:</td>
                    <td><select name="" id="">
                        <option value="open">Open</option>
                        <option value="processing">Processing</option>
                        <option value="closed">Closed</option>
                        <option value="notapplicable">Not Applicable</option>
                    </select></td>
                </tr><br/>
                <tr>
                    <td>Comments:</td>
                    <td><textarea name="" id="" cols="15" rows="5"></textarea></td>
                </tr><br/>
                <tr>
                    <td></td>
                    <td><button (click)="onClickHandler()">Submit</button></td>
                </tr><br/>
            </table>
        </div>
    </div>
  </div>
  